<div class="container">
    <br/>
    <h4>Employee List</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>SSN</th>
                <th>Hire Date</th>
                <th>End Date</th>
                <th>Employee Category Id</th>
                <th>Employee Status Id</th>
                <th>Address</th>
                <th>Email Address</th>
                <th>Employee Role Id</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let e of employeeCollections">
                <td>{{e.id}}</td>
                <td>{{e.firstName}}</td>
                <td>{{e.lastName}}</td>                
                <td>{{e.middleName}}</td>
                <td>{{e.ssn}}</td>
                <td>{{e.hireDate}}</td>
                <td>{{e.endDate}}</td>
                <td>{{e.employeeCategoryId}}</td>
                <td>{{e.employeeStatusId}}</td>
                <td>{{e.address}}</td>
                <td>{{e.emailAddress}}</td>
                <td>{{e.employeeRoleId}}</td>
                <td>
                    <input type="button" class="btn btn-primary" value="Edit"/>
                    <input type="button" class="btn btn-warning" value="Delete" (click)="deleteEmployeeById(e.id)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
