<div class="container">
    <br/>
    <h4>List of User</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee Id</th>
                <th>Email Id</th>
                <th>Role Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Hash Password</th>
                <th>Salt</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let u of userCollections">
                <td>{{u.id}}</td>
                <td>{{u.employeeId}}</td>
                <td>{{u.emailId}}</td>
                <td>{{u.roleId}}</td>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
                <td>{{u.hashPassword}}</td>
                <td>{{u.salt}}</td>
                <td>
                    <input type="button" class="btn btn-info" value="Edit">
                    <input type="button" class="btn btn-warning" value="Delete" (click)="deleteUser(u.id)">  
                </td>
            </tr>
        </tbody>

    </table>
</div>
