<div class="container">
    <h4>List of Candidates</h4>

    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Mobile</th>
                <th>Resume Url</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of candidateCollections">
                <td>{{c.id}}</td>
                <td>{{c.firstName}}</td>
                <td>{{c.lastName}}</td>
                <td>{{c.emailId}}</td>
                <td>{{c.mobile}}</td>
                <td>{{c.resumeUrl}}</td>
                <td>
                    <input type="button" class="btn btn-info" value="Edit"/>
                </td>
                <td>
                    <input type="button" class="btn btn-warning" (click)="deleteCandidate(c.id)" value="Delete">
                </td>
            </tr>
        </tbody>
    </table>

</div>